html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 110vh;
}


.pagetitle {
    color: #0000FF;
    font-size: 30;
}

.p {
  font-family: "Arial", sans-serif;
}

.title {
  margin-left: 20px;
  font-family: "Arial", sans-serif;
}

.form_box {
  box-shadow: 2px 2px 15px 2px #616161;
  align: center;
  display: inline-block;
  outline: 1px solid black;
  width: 90%;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: white;
  padding: 10px;
  font-family: "Arial", sans-serif;
}

.events_menu {
  padding-top: 10px;
  box-shadow: 2px 2px 15px 2px #616161;
  /* background-color: #6dcdee; */
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 97vh;
  max-height: 97vh;
  overflow: scroll;
  width: 35vw;
  margin: 10px;
  display: inline-block;
  flex-direction: column;
}

.notes_menu {
  box-shadow: 2px 2px 15px 2px #616161;
  display: inline-block;
  flex-wrap: wrap;
  /* background-color: #fae50e; */
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 80vh;
  max-height: 80vh;
  min-width: 40vw;
  max-width: 40vw;
  bottom: 0;
  margin: 10px;
  overflow: scroll;
  padding-bottom: 10px;
}

.center_column {
  display: inline-block;
  min-height: 80vh;
  max-height: 80vh;
  min-width: 40vw;
  max-width: 40vw;
}

.transbox {
  margin: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px black;
  width:38vw;
  height:13vh;
  padding-left:20px;
  box-shadow: 2px 2px 15px 2px #616161;
  font-family: "Arial", sans-serif;
  font-size: 400%;
  text-align: center;

}

.main_container {
  background-image: url("/static/images/background.jpeg");
  background-size: 110%;
}

.note_box {
  box-shadow: 2px 2px 15px 2px #616161;
  font-family: "Arial", sans-serif;
  outline: 1px solid black;
  width: 25%;
  height: auto;
  max-height: 20vh;
  padding: 20px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #FFFFFF;
  text-overflow: clip;
  overflow: hidden;
  cursor: move;
}

.screen_overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.screen_overlay:target {
  visibility: visible;
  opacity: 1;
}

.event_menu_popup {
  width: 650px;
  height: auto;
  margin: 70px auto;
  padding: 20px;
  background: #000000;
  border-radius: 5px;
  position: relative;
  background-color: white;
  font-family: "Arial", sans-serif;
  overflow: hidden;
}

.event_menu_popup .close {
  position: absolute;
  right: 30px;
  transition: all 200ms;
  font-size: 2em;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: black:
}

.submitted_container {
  visibility: hidden;
}

.popup_nav {
  background-color: #F0F3F4;
  position: fixed;
  top: 0;
  right: 0;
  width: 105px;
  height: 100vh;
  padding-left: 10px;
  align-items: center;
  overflow: hidden;
  box-shadow: -5px -1px 25px 3px #616161;
}

.icon {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  width: 100px;
  z-index: 100;
}

.event_popup_header {
  width: 120%;
  margin-left: -20px;
  margin-top: -20px;
  height: 4%;
  background-color: #56a0d9;
}

.note_popup_header {
  width: 120%;
  margin-left: -20px;
  margin-top: -20px;
  height: 4%;
  background-color: #56a0d9;
}

.icon:hover {
  transition: 200ms;
  opacity: 0.8;
}
