/*This is the external style sheet for the website. (Almost) all of the the CSS for the site can be found and modified here, for ease of use. It is arranged into catagories based on function.*/

/*----------GENERAL----------*/

/*This piece of CSS makes items stretch all the way to the edges of the screen, unless stated otherwise elsewhere.*/
html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 110vh;
}

/*----------NAVIGATION----------*/

/*This is the styling information for navigation side bar on the right side of the site.*/
.popup_nav {
  background-color: #F0F3F4;
  position: fixed;
  top: 0;
  right: 0;
  width: 3vw;
  height: 100vh;
  padding-left: 10px;
  align-items: center;
  overflow: hidden;
  box-shadow: -5px -10px 25px 3px #616161;
  background-color: #56a0d9;
  transition: all 1s;
}

/*This is the styling information for the main icons on the navigation side bar.*/
.icon {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2.5vw;
  width: 2.5vw;
  z-index: 100;
}

/*This is the styling information for the main icons on the navigation side bar when the mouse hovers over them.*/
.icon:hover {
  transition: 200ms;
  opacity: 0.8;
}

/*This is the styling information for the icons for the buttons that change the background.*/
.color_selection_icon {
  font-family:Arial;
  font-size:150%;
  width: 2vw;
  height: 2vw;
  margin: 0.2vw;
  padding: 10px;
  cursor: pointer;
}

/*This is the styling information for the icons for the buttons that change the background when the mouse hovers over them.*/
.color_selection_icon:hover {
  transition: 200ms;
  box-shadow: 1px 5px 10px #000000;
  opacity: 0.8;
}

/*----------CONTAINERS----------*/

/*This is the styling information for main container of the page.*/
.main_container {
  background-image: url("/static/images/background-tree.jpeg");
  background-size: 110%;
  transition: all 1s;
}

/*This is the styling information for menu that contains the calendar event divs.*/
.events_menu {
  padding-top: 10px;
  box-shadow: 2px 2px 15px 2px #616161;
  /* background-color: #6dcdee; */
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 97vh;
  max-height: 97vh;
  overflow: scroll;
  width: 20vw;
  margin: 10px;
  display: inline-block;
  flex-direction: column;
  transition: all 1s;
}

/*This is the styling information for the calendar event divs.*/
.form_box {
  box-shadow: 2px 2px 15px 2px #616161;
  align: center;
  display: inline-block;
  outline: 1px solid black;
  width: 85%;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: white;
  padding: 10px;
  font-family: 'Lato', sans-serif;
}

/*This is the styling information for the column in the center of the page that contains the notes menu and the clock div.*/
.center_column {
  display: inline-block;
  min-height: 80vh;
  max-height: 80vh;
  min-width: 40vw;
  max-width: 40vw;
}

/*This is the styling information for the div that contains the clock div.*/
.transbox {
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px black;
  padding-top: 1vh;
  width:40vw;
  height:10vh;
  box-shadow: 2px 2px 15px 2px #616161;
  font-family: 'Lato', sans-serif;
  font-size: 3em;
  text-align: center;

}

/*This is the styling information for the menu that contains the note divs.*/
.notes_menu {
  box-shadow: 2px 2px 15px 2px #616161;
  flex-direction: row;
  /* background-color: #fae50e; */
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 85vh;
  max-height: 85vh;
  min-width: 40vw;
  max-width: 40vw;
  bottom: 0;
  margin: 10px;
  overflow: scroll;
  padding-bottom: 10px;
  transition: all 1s;

}

/*This is the styling information for the note divs.*/
.note_box {
  box-shadow: 2px 2px 15px 2px #616161;
  font-family: 'Lato', sans-serif;
  outline: 1px solid black;
  width: 25%;
  height: auto;
  padding: 20px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #FFFFFF;
  text-overflow: clip;
  display: inline-grid;
}

/*This is the styling information for the div on the 'submitted_note', 'submitted_form' and 'login' pages. It is hidden as the page auto-redirects.*/
.submitted_container {
  visibility: hidden;
}

/*----------POPUPS----------*/

/*This is the styling information for popup menu for adding a new event to the calendar menu.*/
.event_menu_popup {
  width: 650px;
  height: auto;
  margin: 70px auto;
  padding: 20px;
  background: #000000;
  border-radius: 5px;
  position: relative;
  background-color: white;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}

/*This is the styling information for button that closes the event menu popup.*/
.event_menu_popup .close {
  position: absolute;
  right: 2%;
  top: 3%;
  transition: all 200ms;
  height: 1.2w;
  width: 1.2vw;
  color: black:
}

.event_menu_popup .close:hover {
  opacity: 0.8;
}

/*This is the styling information for the coloured header at the top of the event and notes menu popups.*/
.popup_header {
  width: 120%;
  margin-left: -20px;
  margin-top: -20px;
  height: 4%;
  background-color: #56a0d9;
}


/*----------TEXT----------*/

/*This is the styling information for the text, site-wide.*/
.p {
  font-family: 'Lato', sans-serif;
}

/*This is the styling information for title in the calendar events menu.*/
.title {
  margin-left: 20px;
  font-family: 'Lato', sans-serif;
}

/*----------IMAGES----------*/


/*----------OTHER----------*/

/*This is the styling information for darkening screen overlay that covers the screen when a popup is opened.*/
.screen_overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

/*This is the styling information that allows the screen overlay to be opened and closed.*/
.screen_overlay:target {
  visibility: visible;
  opacity: 1;
}

/*This is the styling information for hidden, automated form to log the user's id.*/
  .hidden_user_id_form {
    /* visibility: hidden;
    display: none; */
  }
