<html>
  <head>
    <title>LifeNote</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <!--This is the script for the clock.-->
    <script>
      function startTime() {
        var today = new Date();
        var y = today.getFullYear();
        var month = today.getMonth() + 1;
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('txt').innerHTML = today.getDate() + "/" + month + "/" + y + "  " + "  " + h + ":" + m + ":" + s;
        var t = setTimeout(startTime, 500);
      }
      function checkTime(i) {
        if (i < 10) {i = "0" + i}; //add zero in front of numbers < 10
        return i;
      }
    </script>

    <!--This is the script for the buttons that change the background.-->
    <script>
      function changeBackgroundPurple() {
        document.getElementById("main_container").style.backgroundImage = "url('/static/images/background-pflower.jpg')";
        document.getElementById("event_popup_header").style.backgroundColor = "#B648FD";
        document.getElementById("note_popup_header").style.backgroundColor = "#B648FD";
        document.getElementById("game_popup_header").style.backgroundColor = "#B648FD";
        document.getElementById("background_popup_header").style.backgroundColor = "#B648FD";
        document.getElementById("logout_popup_header").style.backgroundColor = "#B648FD";
      }
      function changeBackgroundBlue() {
        document.getElementById("main_container").style.backgroundImage = "url('/static/images/background-tree.jpeg')";
        document.getElementById("event_popup_header").style.backgroundColor = "#56a0d9";
        document.getElementById("note_popup_header").style.backgroundColor = "#56a0d9";
        document.getElementById("game_popup_header").style.backgroundColor = "#56a0d9";
        document.getElementById("background_popup_header").style.backgroundColor = "#56a0d9";
        document.getElementById("logout_popup_header").style.backgroundColor = "#56a0d9";
      }
      function changeBackgroundRed() {
        document.getElementById("main_container").style.backgroundImage = "url('/static/images/background-rflower.jpeg')";
        document.getElementById("event_popup_header").style.backgroundColor = "#BB0303";
        document.getElementById("note_popup_header").style.backgroundColor = "#BB0303";
        document.getElementById("game_popup_header").style.backgroundColor = "#BB0303";
        document.getElementById("background_popup_header").style.backgroundColor = "#BB0303";
        document.getElementById("logout_popup_header").style.backgroundColor = "#BB0303";
      }
      function changeBackgroundYellow() {
        document.getElementById("main_container").style.backgroundImage = "url('/static/images/background-yflower.jpg')";
        document.getElementById("event_popup_header").style.backgroundColor = "#FABB02";
        document.getElementById("note_popup_header").style.backgroundColor = "#FABB02";
        document.getElementById("game_popup_header").style.backgroundColor = "#FABB02";
        document.getElementById("background_popup_header").style.backgroundColor = "#FABB02";
        document.getElementById("logout_popup_header").style.backgroundColor = "#FABB02";
      }
      function changeBackgroundOrange() {
        document.getElementById("main_container").style.backgroundImage = "url('/static/images/background-web.jpg')";
        document.getElementById("event_popup_header").style.backgroundColor = "#FF8300";
        document.getElementById("note_popup_header").style.backgroundColor = "#FF8300";
        document.getElementById("game_popup_header").style.backgroundColor = "#FF8300";
        document.getElementById("background_popup_header").style.backgroundColor = "#FF8300";
        document.getElementById("logout_popup_header").style.backgroundColor = "#FF8300";
      }
      function changeBackgroundGreen() {
        document.getElementById("main_container").style.backgroundImage = "url('/static/images/background-grass.jpg')";
        document.getElementById("event_popup_header").style.backgroundColor = "#33AC20";
        document.getElementById("note_popup_header").style.backgroundColor = "#33AC20";
        document.getElementById("game_popup_header").style.backgroundColor = "#33AC20";
        document.getElementById("background_popup_header").style.backgroundColor = "#33AC20";
        document.getElementById("logout_popup_header").style.backgroundColor = "#33AC20";
      }
    </script>

  </head>

  <!--On load, the body begins the clock script, and the script that submits the form containing the user's ID-->
  <body onload="startTime()">

    <!--This div preloads the background images.-->
    <div class="hidden_user_id_form">
      <script type="text/javascript">
        <!--//--><![CDATA[//><!--
          var images = new Array()
          function preload() {
            for (i = 0; i < preload.arguments.length; i++) {
              images[i] = new Image()
              images[i].src = preload.arguments[i]
            }
          }
          preload(
            "/static/images/background-rflower.jpeg",
            "/static/images/background-tree.jpeg",
            "/static/images/background-grass.jpg",
            "/static/images/background-yflower.jpg",
            "/static/images/background-pflower.jpg",
            "/static/images/background-web.jpg"
          )
        //--><!]]>
      </script>
    </div>

    <!--This div is for the main naviagation sidebar.-->
    <div class="popup_nav" id="nav_bar">
      <a href="#event_popup" title="Create Event" class="nav_button">
        <img id="nav_event" src="/static/images/event-icon.png" class="icon" />
      </a>

      <a href="#note_popup" title="Create Note" class="nav_button">
        <img id="nav_note" src="static/images/note-icon.png" class="icon" />
      </a>

      <a href="#background_popup" title="Change Background" class="nav_button">
        <img id="nav_background" src="static/images/background-icon.png" class="icon" />
      </a>

      <a href="#game_popup" title="Hextris" class="nav_button">
        <img id="nav_game" src="static/images/game-icon.png" class="icon" />
      </a>

      <a href="#logout_popup" title="Logout">
        <img  id="nav_logout" src="static/images/logout-icon.png" class="icon_logout"/>
      </a>
    </div>

    <!--This is the main container of the page, containing the all menus that aren't navigation or popups.-->
    <div class="main_container" id="main_container">

    <!--This div is the event popup that allows the user to add a new event. It is hidden until opened in the navigation menu.-->
    <div id="event_popup" class="screen_overlay">

      <div class="event_menu_popup">

        <div class="popup_header" id="event_popup_header">
          <a class="close" href="#"><img src="/static/images/close.png" style="height: 1vw; width:1vw;" /></a>
        </div>

        <h2>Enter Event Details:</h2>
        <br />
        <div id="main">
          <form method="post" action="{{ url_for('submitted_form') }}">

            <div>
              <div style="display: inline-block; width: 20%;">
                <label for="eventName">Name:</label>
              </div>
              <div style="display: inline-block; width:60%;">
                <input type="text" name="eventName" required>
              </div>
            </div>

            <br />
            <br />

            <div>
              <div style="display: inline-block; width: 20%;">
                <label for="eventDate">Date:</label>
              </div>
              <div style="display: inline-block; width:60%;">
                <input type="date" name="eventDate" style="padding:2%; width:120%;" required>
              </div>
            </div>

            <br />
            <br />

            <div>
              <div style="display: inline-block; width: 20%;">
                <label for="eventLocation">Location:</label>
              </div>
              <div style="display: inline-block; width:60%;">
                <input type="text" name="eventLocation">
              </div>
            </div>

            <br />
            <br />

            <div>
              <div style="display: inline-block; width: 20%;">
                <label for="eventDetails">Details:</label>
              </div>
              <div style="display: inline-block; width:60%;">
                <textarea rows="5"name="eventDetails"></textarea>
              </div>
            </div>

            <br />
            <br />

            <input type="hidden" name="user_email" value="{{user_email}}">
            <input type="hidden" name="user_id_number"  value="{{user_id_number}}">

            <input type="submit">
          </form>
        </div>

      </div>

    </div>

    <!--This div is the notes popup that allows the user to add a new note. It is hidden until opened in the navigation menu.-->
    <div id="note_popup" class="screen_overlay">

      <div class="event_menu_popup">

        <div class="popup_header" id="note_popup_header">
          <a class="close" href="#"><img src="/static/images/close.png" style="height: 1vw; width:1vw;" /></a>
        </div>

        <h2>Enter Note Details:</h2>
        <br />
        <div id="main">

          <form method="post" action="{{ url_for('submitted_note') }}">

            <div>
              <div style="display: inline-block; width: 20%;">
                <label for="noteName">Title:</label>
              </div>

              <div style="display: inline-block; width:60%;">
                <input type="text" name="noteName" required>
              </div>
            </div>

            <br />
            <br />

            <div>
              <div style="display: inline-block; width: 20%;">
                <label for="conteContent">Content:</label>
              </div>
              <div style="display: inline-block; width:60%;">
                <textarea rows="5"name="noteContent" required></textarea>
              </div>
            </div>

            <br />
            <br />

            <input type="hidden" name="user_email" value="{{user_email}}">
            <input type="hidden" name="user_id_number"  value="{{user_id_number}}">

            <input type="submit">
          </form>
        </div>

      </div>

    </div>

    <!--This popup contains the option to change the background and colour scheme of the website.-->
    <div id="background_popup" class="screen_overlay">
      <div class="background_menu_popup">
        <div class="popup_header" id="background_popup_header">
          <a class="close1" href="#"><img src="/static/images/close.png" style="height: 1vw; width:1vw;" /></a>
        </div>

        <br />
        <div id="main">
          <!--This div contains the buttons that change the background.-->
          <div>
            <a href="#" ><button onclick="changeBackgroundPurple()" class="color_selection_icon" style="background-color: #B648FD"></button></a>
            <a href="#" ><button onclick="changeBackgroundBlue()" class="color_selection_icon" style="background-color: #56a0d9"></button></a>
            <a href="#" ><button onclick="changeBackgroundRed()" class="color_selection_icon" style="background-color: #BB0303"></button></a>
            <a href="#" ><button onclick="changeBackgroundYellow()" class="color_selection_icon" style="background-color: #FABB02"></button></a>
            <a href="#" ><button onclick="changeBackgroundOrange()" class="color_selection_icon" style="background-color: #FF8300"></button></a>
            <a href="#" ><button onclick="changeBackgroundGreen()" class="color_selection_icon" style="background-color: #33AC20"></button></a>
          </div>
        </div>
      </div>
    </div>

    <!--This popup contains an iframe to an online game called Hextris.-->
    <div id="game_popup" class="screen_overlay">
      <div class="event_menu_popup"  style="height:auto; width:60vw;">
        <div class="popup_header" id="game_popup_header">
          <a class="close" href="#"><img src="/static/images/close.png" style="height: 1vw; width:1vw;" /></a>
        </div>

        <br />
        <div id="main" style="height:auto; width:60vw">

          <iframe src="http://www.hextris.io/" style="width: 60vw; height: 60vh;"></iframe>

        </div>
      </div>
    </div>

    <!--This popout contains a confirmation of logging out, to prevent accidentally logging out.-->
    <div id="logout_popup" class="screen_overlay">
      <div class="background_menu_popup">
        <div class="popup_header" id="logout_popup_header">
          <a class="close1" href="#"><img src="/static/images/close.png" style="height: 1vw; width:1vw;" /></a>
        </div>

          <p style="text-align: center">
            Are you sure you would like to log out?
          </p>

          <div class="logout_button_container">
            <a class="logout_button" href="{{logout_url}}" style="left:5%">Log Out</a>
          </div>
      </div>
    </div>

    <!--This is the div for the main events/calendar menu.-->
    <div class="events_menu" id="events_menu">

      <h1 class="title" style="text-align: center;">Calendar Events</h1>

      <!--This 'for' loop gets the contents of the event from the Google Datastore database and returns it in the form of the calendar/event div, until all events have been returned.-->
      {% for form in Events %}

      <div class="todo_box" id="form_box">

        <p><strong>Event: {{form.eventName}} </strong></p>
        <p><strong>Date:</strong> {{form.eventDate}} </p>
        <p><strong>Location:</strong> {{form.eventLocation}} </p>
        <p><strong>Details:</strong> {{form.eventDetails}} </p>

        <form method="post" action="{{ url_for('deleted_event') }}">
          <input type="hidden" name="event_id" value="{{form.key.id()}}">
          <input type="hidden" name="event_urlsafe" value="{{form.key.urlsafe()}}">
          <input type="submit" value="Delete">
        </form>
        </div>

      {% endfor %}

      </div>

      <div class="center_column">

        <!--This div contains the HTML code run by the 'clock.js' file.-->
        <div class="transbox" >
          <div id="txt"></div>
              <p id="day"></p> <p id="month"></p>
              <p id="year"></p>
          <div id="date"></div>
        </div>

        <!--This is the div for the main events/calendar menu.-->
        <div class="notes_menu" id="notes_menu">

          <!--This 'for' loop gets the contents of the note from the Google Datastore database and returns it in the form of the note div, until all notes have been returned.-->
          {% for form in Notes %}

          <div class="note_box">

            <p><strong>Title: {{form.noteName}} </strong></p>
            <p><strong>Content:</strong> {{form.noteContent}} </p>

            <form method="post" action="{{ url_for('deleted_note') }}">
              <input type="hidden" name="note_id" value="{{form.key.id()}}">
              <input type="hidden" name="note_urlsafe" value="{{form.key.urlsafe()}}">
              <input type="submit" value="Delete">
            </form>

          </div>

          {% endfor %}

        </div>

        <!--This div contains the scripting for the 'Quote of the Refresh'-->
        <div class="qotr_container">
            <script>

              var r_text = new Array ();
                r_text[0] = "Be yourself; everyone else is already taken. <br> - Oscar Wilde";
                r_text[1] = "Be who you are and say what you feel, because those who mind don't matter, and those who matter don't mind. <br> -  Bernard M. Baruch";
                r_text[2] = "You know you're in love when you can't fall asleep because reality is finally better than your dreams. <br> - Dr. Seuss";
                r_text[3] = "It is better to be hated for what you are than to be loved for what you are not. <br> - André Gide";
                r_text[4] = "We are all in the gutter, but some of us are looking at the stars. <br> - Oscar Wilde";
                r_text[5] = "I have not failed. I've just found 10,000 ways that won't work. <br> - Thomas A. Edison";
                r_text[6] = "I may not have gone where I intended to go, but I think I have ended up where I needed to be. <br> - Douglas Adams";
                r_text[7] = "Today you are You, that is truer than true. There is no one alive who is Youer than You. <br> - Dr. Seuss";
                r_text[8] = "Our patience will achieve more than our force. <br> - Edmund Burke";
                r_text[9] = "Everything precious is also vulnerable. <br> - Mary H.K. Choi";
                r_text[10] = "Don’t let yesterday take up too much of today. <br> - Will Rogers";
                r_text[11] = "We may encounter many defeats but we must not be defeated. <br> - Maya Angelou";
                r_text[12] = "Taste every fruit of every tree in the garden at least once. It is an insult to creation not to experience it fully. Temperance is wickedness. <br> - Stephen Fry";
                r_text[13] = "l love you as certain dark things are to be loved, in secret, between the shadow and the soul. <br> - Pablo Neruda";
                r_text[14] = "I became insane, with long intervals of horrible sanity. <br> - Edgar Allan Poe";
                r_text[15] = "Books are a uniquely portable magic. <br> - Stephen King";
                r_text[16] = "It is one of the blessings of old friends that you can afford to be stupid with them. <br> Ralph Waldo Emerson";
                r_text[17] = "Music expresses that which cannot be put into words and that which cannot remain silent. <br> - Victor Hugo";
                r_text[18] = "What is the point of being alive if you don't at least try to do something remarkable? <br> - John Green";

                var i = Math.floor(r_text.length * Math.random());

                document.write("<center><FONT COLOR='black'>" +
                r_text[i]  + "</FONT></center><br/>");

            </script>
          </div>
        </div>

        <!--This is the div that contains all of the todo's, as well as the form to submit/create new ones.-->
        <div class="events_menu" id="events_menu">

          <h1 class="title" style="text-align: center;">To Do List</h1>

          <form class="todo_enter_box" method="post" action="{{ url_for('submitted_todo') }}">
            <label for=todo_string></label>
            <input type="text" name="todo_string" style="width:80%;"required>
            <input type="hidden" name="user_id_number"  value="{{user_id_number}}">
            <input type="submit">
          </form>

          <!--This 'for loop' gets the contents of the todo from the Google Datastore database and returns it in the form of a todo div, until all todo's have been returned.-->
          {% for form in ToDos %}
            <div class="todo_box" id="todo_box">
                <p><strong>{{form.todo_string}} </strong></p>
                <form method="post" action="{{ url_for('deleted_todo') }}">
                  <input type="hidden" name="todo_id" value="{{form.key.id()}}">
                  <input type="hidden" name="todo_urlsafe" value="{{form.key.urlsafe()}}">
                  <button type="submit" value="submit">Delete</button>
                </form>
              </div>

              {% endfor %}
            </div>
          </div>
  </body>
</html>
