<html>
  <head>
    <title>HOME PAGE</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>

<div class="main_container">

<div id="popup" class="screen_overlay">

  <div class="event_menu_popup">

    <h2>Test Please Ignore</h2>
    <a class="close" href="#bottom">x</a>
    <br />
    <div id="main">
      <form method="post" action="{{ url_for('submitted_form') }}">
        <label for="eventName">Name:</label>
        <input type="text" name="eventName"><br />
        <label for="eventDate">Date:</label>
        <input type="date" name="eventDate"><br />
        <label for="eventLocation">Location:</label>
        <input type="text" name="eventLocation"><br />
        <label for="eventDetails">Details:</label>
        <textarea name="eventDetails"></textarea><br />
        <input type="submit">
      </form>
    </div>

  </div>

</div>

  <div class="events_menu">

    <h1 class="title">Calendar Events</h1>

    {% for form in eventForms %}

    <div class="form_box">

      <p><strong>Event: {{form.eventName}} </strong></p>
      <p><strong>Date:</strong> {{form.eventDate}} </p>
      <p><strong>Location:</strong> {{form.eventLocation}} </p>
      <p><strong>Details:</strong> {{form.eventDetails}} </p>

    </div>

    {% endfor %}

  </div>

  <div class="notes_menu">
    <h1 class="title">Notes</h1>

    {% for form in noteForms %}

    <div class="note_box">

      <p><strong>Title: {{form.noteName}} </strong></p>
      <p><strong>Content:</strong> {{form.noteContent}} </p>

    </div>

    {% endfor %}

  </div>

</div>

<br>

<a href="#popup">Go To Form</a>

<a href="/note">Go To Note</a>

  </body>
</html>
