<html>
 <head>
   <title>Loading...</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">

   <meta http-equiv="refresh" content="2; URL=/home" />

   <!--This script, which is loaded when the body loads, submits the form containing the user's ID.-->
   <script>

     var submitted;

     function submit_user_id_form() {
       if (submitted == null) {
         document.getElementById("user_id_number_form").submit();
         var submitted = 1;
       }
     }
    </script>

 </head>

 <body onload="submit_user_id_form()">

   <!--This div is hidden from the page, but is automatically filled with the user's ID email and ID number, gathered in the 'main.py' file, and is submitted onload by the 'submit_user_id_form()' functions.-->
   <div>
     <form method="post" id="user_id_number_form" name="user_id_number_form" action="{{ url_for('login') }}" class="hidden_user_id_form">
       <input type="hidden" name="user_email" value="{{user_email}}">
       <input type="hidden" name="user_id_number"  value="{{user_id_number}}">
       <input type="submit" value="Submit" />
     </form>
   </div>

 </body>
</html>
