<html>
 <head>
   <title>Submitted form</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">

   <meta http-equiv="refresh" content="0.5; URL=/" />

 </head>
 <body>
   <div id="container" class="submitted_container">
     <div class="pagetitle">
       <h1>Form submitted</h1>
     </div>
     <div id="main">
       <p>Submission recorded.</p>
       <p>Here's a review of the information that you sent:</p>
       <p>
          <strong>Name</strong>: {{eventName}} <br>
          <strong>Date</strong>: {{eventDate}} <br>
          <strong>Location</strong>: {{eventLocation}} <br>
          <strong>Details</strong>: {{eventDetails}} <br>
       </p>

       <a href="/">Go Home</a>

     </div>
   </div>
 </body>
</html>
